<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>IL Museo</title>
</head>
<body>
<!--
<nav th:switch=(${Ruolo.getNome()}"> //non ho idea di come dovrebbe funzionare per prendere "ruolo"
    <ul th:case="'amministratore'">
        <li><a th:href="@{/ProfiloUtente}">Profilo Utente</a></li>
        <li><a th:href="@{/ListaEventi.html}">Lista Eventi</a></li>
        <li><a th:href="@{/ListaPersonale.html}">Lista Personale</a></li>
        <li><a th:href="@{/ModificaUtente.html}">Modifica Utente</a></li>
        <li><a th:href="@{/RegistraPersonale.html}">Registra Personale</a></li>
    </ul>

    <ul th:case="'curatore'">
        <li><a th:href="@{/ProfiloUtente}">Profilo Utente</a></li>
        <li><a th:href="@{/ListaEventi.html}">Lista Eventi</a></li>
        <li><a th:href="@{/ListaPersonale.html}">Lista Personale</a></li>
    </ul>

    <ul th:case="'guida'">
        <li><a th:href="@{/ProfiloUtente}">Profilo Utente</a></li>
        <li><a th:href="@{/ListaEventi.html}">Lista Eventi</a></li>
    </ul>

</nav>
-->
<nav>
    <ul>
        <li><a th:href="@{/ProfiloUtente}">Profilo Utente</a></li>
        <li><a th:href="@{/ListaEventi.html}">Lista Eventi</a></li>
        <li><a th:href="@{/ListaPersonale.html}">Lista Personale</a></li>
        <li><a th:href="@{/ModificaUtente.html}">Modifica Utente</a></li>
        <li><a th:href="@{/RegistraPersonale.html}">Registra Personale</a></li>
    </ul>
</nav>
Sei amministratore
</body>
</html>