<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />

    <title>IL Museo</title>
</head>
<body>

<p th:text="'sei ' + ${ruolo}"></p>
<nav th:switch="${ruolo}" class="navbar">
    <ul th:case="'amministratore'" class="menu">
        <li><a th:href="@{/ProfiloUtente}">Profilo Utente</a></li>
        <li><a th:href="@{/ListaEventi}">Lista Eventi</a></li>
        <li><a th:href="@{/ListaPersonale}">Lista Personale</a></li>
        <li><a th:href="@{/ModificaUtente}">Modifica Utente</a></li>
        <li><a th:href="@{/RegistraPersonale}">Registra Personale</a></li>
    </ul>

    <ul th:case="'curatore'" class="menu">
        <li><a th:href="@{/ProfiloUtente}">Profilo Utente</a></li>
        <li><a th:href="@{/ListaEventi}">Lista Eventi</a></li>
        <li><a th:href="@{/ListaPersonale}">Lista Personale</a></li>
    </ul>

    <ul th:case="'guida'" class="menu">
        <li><a th:href="@{/ProfiloUtente}">Profilo Utente</a></li>
        <li><a th:href="@{/ListaEventi}">Lista Eventi</a></li>
    </ul>

    <ul th:case="'*'" class="menu">
        <li><a th:href="@{/Login}">Esegui l'accesso</a></li>
    </ul>

</nav>

</body>
</html>