<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestione del personale</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stileListaPersonale.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<h2>Gestione del Personale</h2>
<form th:action="@{/amministratore/cerca}" method="get">
    <label for="cognome">Cerca per cognome:</label>
    <input type="text" id="cognome" name="cognome" placeholder="Inserisci nome...">
    <button type="submit">Cerca</button>
</form>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Password</th>
        <th>Ruolo</th>
        <th>Contratto</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="persona : ${personale}">
        <td th:text="${persona.id}"></td>
        <td th:text="${persona.nome}"></td>
        <td th:text="${persona.cognome}"></td>
        <td th:text="${persona.email}"></td>
        <td th:text="${persona.password}"></td>
        <td th:text="${persona.ruolo.nome}"></td>
        <td th:text="${persona.contratto.tipocontratto}"></td>
        <td>
            <a th:href="@{/amministratore/modifica/{id}(id=${persona.id})}">
                <button class="modifica-btn">Modifica</button>
            </a>
        </td>
        <td>
            <a th:href="@{/amministratore/rimuovi/{id}(id=${persona.id})}">
                <button class="rimuovi-btn">Rimuovi</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<button>
    <a th:href="@{/nuovo-personale}">Registra nuovo personale</a>
</button>
<button>
    <a th:href="@{/HomePage}">Indietro</a>
</button>
</body>
</html>