<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Lista Eventi</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stileListaPersonale.css}"> <!-- Non va? -->
</head>
<body>
<h1>Lista Eventi</h1>
<ul th:each="evento : ${eventi}" th:each="personal : ${evento.personale}">
    <!-- -->
    <li th:if="(${personsal.id} == ${personale.id} || personale.ruolo == 'amministratore')">
        <span th:text="${evento.titoloEvento}"></span>,
        <span th:text="${evento.tipo}"></span>,
        <span th:text="${evento.dataInizio}"></span>,
        <span th:text="${evento.dataFine}"></span>,
        <span th:text="${evento.stanza}"></span>
    </li>

</ul>
</body>
</html>
