<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Eventi</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stileListaPersonale.css}">
</head>
<body>
<h1>Lista Eventi</h1>
<ul th:each="evento : ${eventi}" >
    <!-- -->
    <li>
        <span th:text="${evento.titoloEvento}"></span>,
        <span th:text="${evento.tipo}"></span>,
        <span th:text="${evento.dataInizio}"></span>,
        <span th:text="${evento.dataFine}"></span>,
        <span th:text="${evento.stanza}"></span>
    </li>

</ul>
</body>
</html>
