<html xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<h1>Lista Eventi</h1>

<ul>
    <!--|| (utente.ruolo == "amministratore") TEST -->
    <li th:each="evento : ${eventi}" th:if="(${evento.id_personale} == ${utente.id} || ruolo.id == 1)">
        <span th:text="${evento.titolo_evento}"></span>,
        <span th:text="${evento.tipo}"></span>,
        <span th:text="${evento.data_inizio}"></span>,
        <span th:text="${evento.data_fine}"></span>,
        <span th:text="${evento.stanza}"></span>
    </li>
</ul>

</body>
</html>
