<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestione del personale</title>
    <link rel="stylesheet" type="text/css" href="/stileListaPersonale.css"> <!-- Non va? -->
</head>
<body>
<h2>Gestione del Personale</h2>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Email</th>
        <th>Password</th>
        <th>Ruolo</th>
        <th>Contratto</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="persona : ${personale}">
        <td th:text="${persona.id}"></td>
        <td th:text="${persona.nome}"></td>
        <td th:text="${persona.cognome}"></td>
        <td th:text="${persona.email}"></td>
        <td th:text="${persona.password}"></td>
        <td th:text="${persona.ruolo}"></td>
        <td th:text="${persona.contratto}"></td>
    </tr>
    </tbody>
</table>
<button>
    <a th:href="@{/registra}">Registra nuovo personale</a>
</button>
</body>
</html>