<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
</head>

<body id="loginBackground">
<div id="header">
    <h1 id="title">Benvenuto al Museo</h1>
    <h2 id="subtitle">Gestione del Personale</h2>
</div>
<!--
<div class="contronoLog">
-->
<form action="#" th:action="@{/login}" th:object="${credenziali}" method="POST" id="form">
    <!--
    <table>
        <tr>
            <td><label>Email:</label></td>
            <td><input th:field="*{email}" type="email" name="email" placeholder="Inserisci l'email" required></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email non valido</td>
        </tr>


        <tr>
            <td><label>Password:</label></td>
            <td><input th:field="*{password}" type="password" name="password" placeholder="Inserisci la password" required></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password non valido</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Login" id="submit"></td>
        </tr>
    </table>
-->

    <fieldset>
        <legend>Login</legend>
        <label for="email" class="required" accesskey="e">Email: </label>
        <input th:field="*{email}" placeholder="Inserisci l'email" type="text" id="email" name="email" tabindex="1" title="email" size="30" required><br>
        <label for="password" class="required" accesskey="p">Password: </label>
        <input th:field="*{password}" placeholder="Inserisci la password" type="password" id="password" name="password" tabindex="2" title="password" size="30" required><br>
        <div id="buttons">
            <input type="reset" id="reset" class="button" tabindex="3">
            <input type="submit" value="Login" class="button" tabindex="4">
        </div>
        <label th:if="${!valido}" >Credenziali non valide</label>
    </fieldset>
</form>

</body>
</html>