<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        .center-text {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="center-text">
<h1>Benvenuto al Museo</h1>
<h2>Accedi al nostro servizio</h2>
</div>
<form>
    <table>
        <tr>
            <td>UserName:</td>
            <td>
                <label>
                    <input placeholder="Inserisci la username">
                </label>

            </td>
        </tr>
        <td>Password:</td>
        <td>
            <label>
                <input placeholder="inserisci la password">
            </label>
        </td>
    </table>
</form>


</body>
</html>