<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifica Dati Personale</title>
    <link rel="stylesheet" type="text/css" th:href="@{/stileListaPersonale.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<h2>Modifica Dati Personale</h2>
<form th:action="@{/amministratore/modifica/{id}(id=${personale.id})}" th:object="${personale}" method="post">

    <table>
        <tr>
            <td><label for="nome">Nome:</label></td>
            <td><input type="text" id="nome" th:field="*{nome}" th:placeholder="${personale.getNome()}" /></td>
        </tr>
        <tr>
            <td><label for="cognome">Cognome:</label></td>
            <td><input type="text" id="cognome" th:field="*{cognome}" th:placeholder="${personale.getCognome()}" /></td>
        </tr>
        <tr>
            <td><label for="email">Email:</label></td>
            <td><input type="text" id="email" th:field="*{email}" th:placeholder="${personale.getEmail()}" /></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="text" id="password" th:field="*{password}" th:placeholder="${personale.getPassword()}" /></td>
        </tr>
        <tr>
            <td><label for="ruolo">Ruolo:</label></td>
    <td><select id="ruolo" th:field="*{ruolo.id}">
        <option th:each="ruolo : ${ruoli}" th:value="${ruolo.id}" th:text="${ruolo.nome}"></option>
    </select></td>
        </tr>
        <tr>
            <td><label for="contratto">Contratto:</label></td>
    <td><select id="contratto" th:field="*{contratto.id}">
        <option th:each="contratto : ${contratti}" th:value="${contratto.id}" th:text="${contratto.tipocontratto}"></option>
    </select></td>
        </tr>
    </table>

    <button type="submit">Salva Modifiche</button>
    <a th:href="@{/amministratore/gestisci}"><button type="button">Annulla</button></a>
</form>
</body>
</html>
