<html lang="en">
<head>
    <title>Modifica Password</title>
    <!--http://localhost:8080/Info-Utente/Modifica/1-->
</head>
<body>
<form th:action="@{'/Modifica/' + ${personale.id}}" th:object="${personaleClasse}" method="post">
    <label for="newPassword">Nuova Password:</label>
    <input type="text" id="newPassword" name="newPassword" required>
    <br><br>

    <label for="confirmPassword">Conferma Nuova Password:</label>
    <input type="text" id="confirmPassword" name="confirmPassword" required>
    <br><br>

    <button type="submit">Ritorna al profilo</button>
    <button type="submit">Salva</button>
</form>

</body>
</html>