<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profilo Utente</title>
</head>
<body>
<table>
    <tr>
        <td>Nome:</td>
        <td th:text="${personale.nome}"></td>
    </tr>
    <tr>
        <td>Cognome:</td>
        <td th:text="${personale.cognome}"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td th:text="${personale.email}"></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td th:text="${personale.password}"></td>
    </tr>
    <tr>
        <td>Ruolo:</td>
        <td th:text="${personale.ruolo}"></td>
    </tr>
    <tr>
        <td>Contratto:</td>
        <td th:text="${personale.contratto}"></td>
    </tr>
    <tr>
     <td><a th:href="@{'edit/' + ${personale.id}}">Modifica Password</a></td>
    </tr>
</table>
</body>
</html>