<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profilo Utente</title>
</head>
<body>
<table>
    <tr>
        <!--http://localhost:8080/Info-Utente/1-->
        <td>Nome:</td>
        <td th:text="${personale.nome}"></td>
    </tr>
    <tr>
        <td>Cognome:</td>
        <td th:text="${personale.cognome}"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td th:text="${personale.email}"></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td th:text="${personale.password}"></td>
    </tr>
    <tr>
        <td>Ruolo:</td>
        <td th:text="${personale.ruolo}"></td>
    </tr>
    <tr>
        <td>Contratto:</td>
        <td th:text="${personale.contratto}"></td>
    </tr>
    <p>
     <a th:href="@{'Modifica/' + ${personale.id}}">Modifica Password</a>
    </p>
</table>
</body>
</html>